<%- include("./partials/header.ejs") %>

<div class="container text-center mt-5 w-75 border-top border-secondary-subtle p-5">
  <div class="row justify-between row-gap-5 colum-gap-3">
    <% notes.map((note) => { %>
    <div class="col-4">
      <div class="bg-secondary border border-primary-subtle w-75 p-2 h-100 rounded-5">
        <h4><a href="/protected/view/note/<%= note._id %>"><%= note.title %></a></h4>
        <% if(note.tag.length > 0){ %>
            <%= note.tag.map(tag => tag.name).join(", ") %>
        <% } else { %>
            <p>no tag</p>
        <% } %>
      </div>
    </div>
    <% }) %>
  </div>
</div>

<%- include("./partials/footer.ejs") %>
