<%- include("./partials/header.ejs") %>
<input value="<%= note._id %>" name="noteId" type="hidden" id="noteId"/>
<div class="container mt-5 w-75">
  <div class="position-absolute" id="announcement" style="right: 15%;">
  </div>
  <div class="row">
    <div class="col-12 h-100 border border-secondary">
      <h2 id="title" data-bs-toggle="modal" data-bs-target="#editTitleModal" class="btn fs-2 text-decoration-underline">
        <%= note.title %>
      </h2>
    </div>
  </div>
  <div class="row mt-3" id="tagContainer">
    <% if (note.tag.length > 0) { %> 
        <% note.tag.map((tag) => { %>
          <div class="col-3" id="<%= tag._id %>">
            <button type="button" class="btn btn-sm btn-primary rounded-pill"><%= tag.name %></button>
            <button type="button" class="btn btn-sm btn-danger rounded-pill tag-delete-btn"  data-tag-id="<%= tag._id %>" data-bs-toggle="modal" data-bs-target="#deleteTagModal" >
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
              </svg>
            </button>
          </div>
        <% }).join("") }%>
        <div class="col-2 order-last">
            <button type="button" class="btn btn-sm btn-secondary rounded-pill" data-bs-toggle="modal" data-bs-target="#addTagModal">
              + Tag
            </button>
        </div>
  </div>
  <div class="row mt-3">
    <div class="col-6">
      <textarea id="note" class="w-100 border border-primary bg-secondary text-body overflow-y-auto" style="height: 65vh;" name="content"><%= note.content %></textarea>
    </div>
    <div class="col-6 border-primary overflow-y-auto" id="markdown" style="height: 65vh;"></div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addTagModal" tabindex="-1" aria-labelledby="addTagModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addTagModalLabel">Your Tag</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <div class="modal-body">
          <label for="name">Tag Name:</label>
          <input name="name" class="bg-secondary border border-1 border-primary rounded-pill px-2 text-secondary" id="tagName" placeholder="your tag name"/>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="add-tag" data-bs-dismiss="modal">Add Tag</button>
        </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="editTitleModal" tabindex="-1" aria-labelledby="editTitleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="editTitleModalLabel">Your Title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <div class="modal-body">
          <label for="name">Title:</label>
          <input name="title" class="bg-secondary border border-1 border-primary rounded-pill px-2 text-secondary" id="newTitle" placeholder="<%= note.title %>"/>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="edit-title" data-bs-dismiss="modal">Change Title</button>
        </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteTagModal" tabindex="-1" aria-labelledby="deleteTagModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="deleteTagModalLabel">Are you sure</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <div class="modal-body">
          <label for="name">Title:</label>
          <input name="title" class="bg-secondary border border-1 border-primary rounded-pill px-2 text-secondary" id="noteTitle" placeholder="<%= note.title %>"/>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="add-tag" data-bs-dismiss="modal">Change Title</button>
        </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/dompurify@3.0.6/dist/purify.min.js"></script> <script src="/markdown.js" type="module"></script>
<script src="/autoSave.js" type="module"></script>
<script src="/tagManage.js" type="module"></script>
<script src="/titleEdit.js" type="module"></script>

<%- include("./partials/footer.ejs") %>
