<%- include("./partials/header.ejs") %>

<div class="container w-50 mt-5">
  <h2><%= title %></h2>
  <form action="/api/signup" method="POST">
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control" id="username" name="username" />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
      />
    </div>
    <% if(error) { %>
    <div class="text-bg-danger p-3"><%= error %></div>
    <% } %>
    <button type="submit" class="btn btn-primary mt-5"><%= title %></button>
  </form>
</div>

<%- include("./partials/footer.ejs") %>
